*{
    margin: 0;
    font-family: sans-serif;
    border: border-box;
    
    
}

.glow-broder{
    border: 2px solid transparent;
}

.glow-broder:hover{
    border: 1.5px solid white ;
}

.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 55px;
    width: 115px;
}

.logo{
    background-image: url("/images/amazon_logo.png");
    background-size: cover;
    height: 55px;
    width: 115px;
}


/* box2 */

.nav-address{
    height: 40px;
    padding-top: .90rem;
}

.add-to{
    color: #cccccc;
    font-size: .75rem;
    margin-left: 17px;
}

.add-country{
    color: white;
    font-size: .85rem;
    font-weight: 700;
    margin-left: 5px;
}

.address-icon{
    display: flex;
}

/* box3 */

.nav-scarch{
    display: flex;
    width: 600px;
    height: 45px;
    justify-content: center;
    background-color: #f3a847;
    border-radius: .5rem;
    
}

.nav-scarch:hover{
    border: 2px solid orange ;
}

.scarch-select{
    background-color: #dadada;
    width: 60px;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    text-align: center;
    border: none;
}

.scarch-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.scarch-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* box 3.1 */

.country{
    width: 40px;
    display: flex;
    font-size: .85rem;
    font-weight: 700;
    
}

.country-name{
    padding-left: .25rem;
}

/* box 4 */

span{
    font-size: .75rem;
}

.signin{
    font-size: .85rem;
    font-weight: 700;
}

/* box 6  */

.nav-cart{
    display: flex;

}

.cart-logo{
    font-size: 1.5rem;
}

.cart-text{
    font-size: .95rem;
    font-weight: 700;
    padding-left: .25rem;
}

/* box 7 */

.panel{
    height: 40px;
    background-color: #232f3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-logo{
    height: 38px;
    display: flex;
    align-items: center;
}

.panel .panel-logo a{
    color: white;
}

.panel .panel-logo i{
    font-size: 1.2rem;
}

.panel .panel-logo span{
    padding-left: .25rem;
    font-size: .85rem;
    font-weight: 700;
}


.panel-list p{
    display: inline;
    margin-left: 1rem;
}

.panel-list{
    width: 90%;
    font-size: .85rem;
}

.panel .panel-list a{
    color: white;
}

.panel .panel-list a:hover{
    text-decoration: underline;

}


/* hero */

.hero-section{
    background-image: url("/images/hero_image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
    width: 90%;
    margin-bottom: 1rem;
}

.hero-msg a{
    color: #324065;
}

.hero-msg a:hover{
    color: #ba2721;
}

/* shop-section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #d4dedf;
    
    
}

.box{
    /* border: solid 2px black; */
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    padding-bottom: 40px;
    
}

.box .box-content a:hover{
    text-decoration: underline;
}

.box-content{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 15px;
    
}

.box-img{
    height: 290px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;

}

.box-content p{
    color: #324065;

}



/* footer panel1 */

.footer{
    margin-top: 15px;
}

.footer-panel1{
    background-color: #485769;
    color: white;
    font-size: .85rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-panel2{
    background-color: #232f3e;
    color: white;
    height: 400px;
    /* padding-top: 4rem ;
    padding-bottom: 4rem; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.footer-panel2 ul{
    list-style: none;
}

.footer-panel2 li{
    font-size: .95rem;
    margin: 0 0 10px;
}

.footer-panel2 li a{
    color: #DDDDDD;
}

.footer-panel2 li a:hover{
    text-decoration: underline;
}

.footer-panel3{
    height: 80px;
    background-color: #232f3e;
    color: white;
    border-top: .5px solid white ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel3-logo{
    background-image: url(/images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}


.footer-panel4{
    background-color: #131a22;
    height: 90px;
    color: white;
    font-size: .75rem;
    text-align: center;
}

.panel4-links{
    padding-top: 25px;
}

.panel4-copyRight{
    padding-top: 5px;
}

.panel4-links a{
    color: white;
    margin-right: 5px;
}

.panel4-links a:hover{
    text-decoration: underline;
}




