*{
    margin: 0;
    font-family: sans-serif;
    border: border-box;
    
    
}

.glow-broder{
    border: 2px solid transparent;
}

.glow-broder:hover{
    border: 1.5px solid white ;
}

.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 55px;
    width: 115px;
}

.logo{
    background-image: url("/images/amazon_logo.png");
    background-size: cover;
    height: 55px;
    width: 115px;
}


/* box2 */



.add-to{
    color: #cccccc;
    font-size: .75rem;
    margin-left: 17px;
}

.add-country{
    color: white;
    font-size: .85rem;
    font-weight: 700;
    margin-left: 5px;
}

.address-icon{
    display: flex;
}

/* box3 */

.nav-scarch{
    display: flex;
    width: 600px;
    height: 45px;
    justify-content: center;
    background-color: #f3a847;
    border-radius: .5rem;
    
}

.nav-scarch:hover{
    border: 2px solid orange ;
}

.scarch-select{
    background-color: #dadada;
    width: 60px;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    text-align: center;
    border: none;
}

.scarch-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.scarch-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* box 3.1 */

.country{
    width: 40px;
    display: flex;
    font-size: .85rem;
    font-weight: 700;
    
}

.country-name{
    padding-left: .25rem;
}

/* box 4 */

span{
    font-size: .75rem;
}

.signin{
    font-size: .85rem;
    font-weight: 700;
}

/* box 6  */

.nav-cart{
    display: flex;

}

.cart-logo{
    font-size: 1.5rem;
}

.cart-text{
    font-size: .95rem;
    font-weight: 700;
    padding-left: .25rem;
}

/* box 7 */

.panel{
    height: 40px;
    background-color: #232f3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel .panel-logo i{
    font-size: 1.2rem;
}

.panel .panel-logo span{
    padding-left: .25rem;
    font-size: .85rem;
    font-weight: 700;
}


.panel-list p{
    display: inline;
    margin-left: 1rem;
}

.panel-list{
    width: 90%;
    font-size: .85rem;
}


/* hero */

.hero-section{
    background-image: url("/images/hero_image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
    width: 90%;
    margin-bottom: 1rem;
}

.hero-msg a{
    color: #324065;
}

.hero-msg a:hover{
    color: #ba2721;
}